{{- $n := 0 }}
{{- $type := "note" }}
{{- $title := humanize $type }}

{{ if hasPrefix (index (split .Inner "\n") $n) "title: "}}
  {{ $title = strings.TrimPrefix "title: " (index (split .Inner "\n") $n) }}
  {{ $n = add $n 1}}
{{ end }}

{{- $icon := $type }}

{{ if hasPrefix (index (split .Inner "\n") $n) "icon: "}}
  {{ $icon = strings.TrimPrefix "icon: " (index (split .Inner "\n") $n) }}
  {{ $n = add $n 1}}
{{ end }}

{{- $collapsed := false }}

{{ if hasPrefix (index (split .Inner "\n") $n) "collapse: "}}
  {{ $collapsed = true}}
  {{ $n = add $n 1}}
{{ end }}

{{ $trimmed := slice }}

{{ range split .Inner "\n" }}
  {{ if le $n 0}}
    {{ $trimmed = append . $trimmed }}
  {{ else }}
    {{ $n = sub $n 1 }} 
  {{ end }}
{{ end }}

{{- $inner := delimit $trimmed "\n" | chomp | .Page.RenderString -}}


{{- $iconMap := dict "note" "fa-solid fa-pencil-alt fa-fw" -}}
{{- $iconMap  = dict "abstract" "fa-solid fa-list-ul fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "info" "fa-solid fa-info-circle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "tip" "fa-solid fa-lightbulb fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "success" "fa-solid fa-check-circle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "question" "fa-solid fa-question-circle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "warning" "fa-solid fa-exclamation-triangle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "failure" "fa-solid fa-times-circle fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "danger" "fa-solid fa-skull-crossbones fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "bug" "fa-solid fa-bug fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "example" "fa-solid fa-list-ol fa-fw" | merge $iconMap -}}
{{- $iconMap  = dict "quote" "fa-solid fa-quote-right fa-fw" | merge $iconMap -}}
{{- $iconDetails := "fa-solid fa-angle-right fa-fw" -}}

<div class="details admonition {{ $type }}{{ if $collapsed | ne true }} open{{ end }}">
<div class="details-summary admonition-title" onclick="this.parentElement.classList.toggle('open');">
  <i class="icon {{ index $iconMap $icon | default (index $iconMap $type) }}"></i><p style="display: inline;">{{$title | .Page.RenderString }}</p><i class="details-icon {{ $iconDetails }}"></i>
</div>
<div class="details-content">
  <div class="admonition-content">
    <p style="display: inline;">{{- $inner -}}</p>
  </div>
</div>
</div>
